In [1]:
import os
import glob

import pandas as pd

In [11]:
dir_path = './data'
file = os.path.join(dir_path, '*.csv')
files = glob.glob('./data/*.csv')
files = files[:2]
files

['./data/train_labels.csv', './data/train_data.csv']

In [13]:
# for file_name in files:
#     if not os.path.isdir(file_name):
#         src = os.path.splitext(file_name)
#         os.rename(file_name, src[0]+'.ftr')

FileNotFoundError: [Errno 2] No such file or directory: './data/train_labels.csv' -> './data/train_labels.ftr'

In [5]:
train_df = pd.read_csv('./data/train_data.csv')
train_label_df = pd.read_csv('./data/train_labels.csv')

In [6]:
train_df.to_feather('train_data')
train_label_df.to_feather('train_labels')

In [7]:
train_ftr_df = pd.read_feather('train_data')
train_labels_ftr_df = pd.read_feather('train_labels')

In [8]:
train_ftr_df.head(2)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217

In [9]:
train_labels_ftr_df.head(2)

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0

In [12]:
train_ftr_df.dtypes[train_ftr_df.dtypes == object]

customer_ID    object
S_2            object
D_63           object
D_64           object
dtype: object