In [1]:
import pandas as pd

from tensorflow import keras
import tensorflow as tf

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ralbu85/Lecture_DeepLearning_2022/main/auto.csv')
df

     cylinders  displacement  horsepower  ...  model_year  origin   mpg
0            8         307.0       130.0  ...          70       1  18.0
1            8         350.0       165.0  ...          70       1  15.0
2            8         318.0       150.0  ...          70       1  18.0
3            8         304.0       150.0  ...          70       1  16.0
4            8         302.0       140.0  ...          70       1  17.0
..         ...           ...         ...  ...         ...     ...   ...
387          4         140.0        86.0  ...          82       1  27.0
388          4          97.0        52.0  ...          82       2  44.0
389          4         135.0        84.0  ...          82       1  32.0
390          4         120.0        79.0  ...          82       1  28.0
391          4         119.0        82.0  ...          82       1  31.0

[392 rows x 8 columns]

In [5]:
y = df.pop('mpg')
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
387    27.0
388    44.0
389    32.0
390    28.0
391    31.0
Name: mpg, Length: 392, dtype: float64

In [8]:
X = df
X

     cylinders  displacement  horsepower  ...  acceleration  model_year  origin
0            8         307.0       130.0  ...          12.0          70       1
1            8         350.0       165.0  ...          11.5          70       1
2            8         318.0       150.0  ...          11.0          70       1
3            8         304.0       150.0  ...          12.0          70       1
4            8         302.0       140.0  ...          10.5          70       1
..         ...           ...         ...  ...           ...         ...     ...
387          4         140.0        86.0  ...          15.6          82       1
388          4          97.0        52.0  ...          24.6          82       2
389          4         135.0        84.0  ...          11.6          82       1
390          4         120.0        79.0  ...          18.6          82       1
391          4         119.0        82.0  ...          19.4          82       1

[392 rows x 7 columns]

In [15]:
X.dtypes

cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
dtype: object

In [29]:
df=pd.get_dummies(df, columns=['origin'], prefix='origin')
df

     cylinders  displacement  horsepower  ...  origin_1  origin_2  origin_3
0            8         307.0       130.0  ...         1         0         0
1            8         350.0       165.0  ...         1         0         0
2            8         318.0       150.0  ...         1         0         0
3            8         304.0       150.0  ...         1         0         0
4            8         302.0       140.0  ...         1         0         0
..         ...           ...         ...  ...       ...       ...       ...
387          4         140.0        86.0  ...         1         0         0
388          4          97.0        52.0  ...         0         1         0
389          4         135.0        84.0  ...         1         0         0
390          4         120.0        79.0  ...         1         0         0
391          4         119.0        82.0  ...         1         0         0

[392 rows x 9 columns]